
@model ShahbazWebsite_MVCPlatform.Models.Reporting_UserDetails

@{
    ViewData["Title"] = "Reports - Tenant Search ";
}


<h2>

    Search entered:

    @ViewData["TenantSearchRequested"]

</h2>

<br />

<h1>

    Result:

    @ViewData["Message"]

</h1>



@if (Model != null)
{

<br />

<div style="color:rgb(0, 102, 102)"><strong>TENANT INFORMATION:</strong></div>

<!--Line, yellow colored-->
<div style="width: 300px; height: 5px; border-bottom: 4px solid rgb(255, 233, 26); position: absolute"></div>

<br />

<table style="width: 80%; height: 122px; border-width: 2px">
    <tbody>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white">First Name </td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.FirstName)</td>
        </tr>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white">Last Name </td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.LastName)</td>

        </tr>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white" class="auto-style1">Condo #</td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.ApartmentNumber)</td>

        </tr>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white" class="auto-style1">UserId #</td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.UserId)</td>

        </tr>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white">Phone #</td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.Password)</td>

        </tr>
        <tr>
            <td style="background-color:rgb(0, 102, 102); color:white">Email</td>
            <td style="background-color: rgb(229,234,238)">@Html.DisplayFor(model => model.User.Email)</td>

        </tr>
    </tbody>
</table>







<br />

<div style="color:rgb(0, 102, 102)"><strong>Recent Bookings and Requests:</strong></div>

<!--Line, yellow colored-->
<div style="width: 300px; height: 5px; border-bottom: 4px solid rgb(255, 233, 26); position: absolute"></div>

<br />



<table style="width: 100%; height: 122px; border: 2px solid white">
    <thead>
        <tr style="background-color:rgb(0, 102, 102)">
            <th style="color:white; border: 2px solid white">
                <strong>Booking ID</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Type</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>BookingDetail</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Status</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking) {
        <tr style="background-color: rgb(229,234,238)">
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.BookingDetail)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
    </tbody>
</table>







<br />

<div style="color:rgb(0, 102, 102)"><strong>Recent Maintenance related requests:</strong></div>

<!--Line, yellow colored-->
<div style="width: 300px; height: 5px; border-bottom: 4px solid rgb(255, 233, 26); position: absolute"></div>

<br />



<table style="width: 100%; height: 122px; border: 2px solid white">
    <thead>
        <tr style="background-color:rgb(0, 102, 102)">
            <th style="color:white; border: 2px solid white">
                <strong>Maintenance ID</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Type</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Status</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Note (from staff)</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Dollar Amount</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Maintenance) {
        <tr style="background-color: rgb(229,234,238)">
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.MaintenanceId)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.DollarAmount)
            </td>
        </tr>
    }
    </tbody>
</table>





<br />

<div style="color:rgb(0, 102, 102)"><strong>Recent payments:</strong></div>

<!--Line, yellow colored-->
<div style="width: 300px; height: 5px; border-bottom: 4px solid rgb(255, 233, 26); position: absolute"></div>

<br />



<table style="width: 100%; height: 122px; border: 2px solid white">
    <thead>
        <tr style="background-color:rgb(0, 102, 102)">
            <th style="color:white; border: 2px solid white">
                <strong>Payment ID</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Type (for)</strong>
            </th>
            <th style="color:white; border: 2px solid white">
                <strong>Amount paid</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payment) {
        <tr style="background-color: rgb(229,234,238)">
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.TypeOfPayment)
            </td>
            <td style="border: 2px solid white">
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
        </tr>
    }
    </tbody>
</table>

}