
@model IEnumerable<ShahbazWebsite_MVCPlatform.Models.Maintenance>

    @{
    ViewData["Title"] = "Reports - Maintenance";

    }

    <div style="color:rgb(0, 102, 102)"><strong>MAINTENANCE - ALL RECORDS (PENDING AND COMPLETED) WITH DOLLAR AMOUNTS</strong></div>

    <!--Line, yellow colored-->
    <div style="width: 825px; height: 5px; border-bottom: 4px solid rgb(255, 233, 26); position: absolute"></div>

    <br />
    <br />


    <table style="width: 100%; height: 122px; border: 2px solid white">
        <thead>
            <tr style="background-color:rgb(0, 102, 102)">
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.Category)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.StartDate)</strong>
                    (created on)
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.EndDate)</strong>
                    (closed on)
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.MaintenanceDetail)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.Status)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.DollarAmount)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.Note)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.User.UserId)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.User.FirstName)</strong>
                </th>
                <th style="color:white; border: 2px solid white">
                    <strong>@Html.DisplayNameFor(model => model.User.LastName)</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr style="background-color: rgb(229,234,238)">
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.MaintenanceDetail)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.DollarAmount)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td style="border: 2px solid white">
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
            </tr>
}
        </tbody>
    </table>



