
@model IEnumerable<ShahbazWebsite_MVCPlatform.Models.Maintenance>


    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TenantLayout.cshtml";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <br />
    <br />

    <h2>Previous:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
}
        </tbody>
    </table>
