
@model IEnumerable<ShahbazWebsite_MVCPlatform.Models.Maintenance>

    @{
    ViewData["Title"] = "Maintenance list - Index";

    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                    (Created on:)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                    (Closed on:)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DollarAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceDetail)
                </td>

                @{
                if (item.Status == "Pending" || item.Status == "pending" ||
                    item.Status == "Open" || item.Status == "open" )
                {
                    <td style="color: green">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.DollarAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaintenanceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
